<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/header') %>
        <div class="container">
            <h1>Students</h1>
            <ul class="list-group">
                <% students.forEach(function(student) { %>
                    <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                    >
                        <%= student.firstname %> <%= student.lastname %> (<%= student.uin %> <%= student.ci_name %> <%= student.ci_term %> <%= student.ci_year %>)
                        <form method="POST">
                            <input type="hidden" name="__action" value="updateStudent" />
                            <input type="hidden" name="id" value="<%= student.id %>" />
                            <label>FirstName: </label>
                            <input type="text" name="firstName" value="<%= student.firstname %>" />
                            <br/>
                            <label>LastName: </label>
                            <input type="text" name="lastName" value="<%= student.lastname %>" />
                            <button type="submit">
                                Update Info
                            </button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>
