<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
        <h1><%= meetingName %></h1>
      <h2>Section - Meetings</h2>
      <ul class="list-group">
          <% section_meetings.forEach(function(sec_meeting, idx) { %>
              <% if (idx % 2) {%>
              <a
                  href="/sectionMeeting/<%= sec_meeting.id %>"
                  class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center"
              >
                  <%= sec_meeting.s_name %> - <%= sec_meeting.m_name %>
              </a>
              <% } else {%>
              <a
                  href="/sectionMeeting/<%= sec_meeting.id %>"
                  class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center"
                  style="filter: brightness(110%)"
              >
                  <%= sec_meeting.s_name %> - <%= sec_meeting.m_name %>
              </a>
              <% } %>
          <% }) %>
      </ul>
    </div>
  </body>
</html>
