<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <h1><%= courseDept %> <%= courseNumber %> (<%= courseName %>)</h1>
      <button
          role="button"
          class="btn btn-outline-info mb-3"
          data-toggle="collapse"
          data-target="#newCourseInstance"
          role="button"
          aria-expanded="false"
          aria-controls="newCourseInstance"
      >
          New Course Instance
      </button>
      <div class="collapse" id="newCourseInstance">
        <div class="card card-body mb-3">
          <form method="POST">
            <input type="hidden" name="__action" value="newCourseInstance" />
            <input type="hidden" name="courseName" value="<%= courseName %>" />
            <div class="form-group">
              <label for="courseInstanceName">Name</label>
              <input
                class="form-control"
                name="name"
                id="courseInstanceName"
                placeholder="CS 225 Sp19"
              />
            </div>
            <div class="form-group">
              <label for="courseInstanceTerm">Term</label>
              <input
                class="form-control"
                name="term"
                id="courseInstanceTerm"
                placeholder="Spring"
              />
            </div>
            <div class="form-group">
              <label for="courseInstanceYear">Year</label>
              <input
                class="form-control"
                name="year"
                id="courseInstanceYear"
                type="number"
                placeholder="2019"
              />
            </div>
            <button type="submit" class="btn btn-primary">Create course instance</button>
          </form>
        </div>
      </div>
      <div class="list-group">
        <% courseInstances.forEach(function(courseInst, idx) { %>
        <% if (idx % 2) {%>
        <a
          href="/courseInstance/<%= courseInst.id %>"
            class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center"
        >
          <%= courseInst.name %>
        </a>
        <% } else {%>
        <a
            href="/courseInstance/<%= courseInst.id %>"
            class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center"
            style="filter: brightness(110%)"
        >
            <%= courseInst.name %>
        </a>
        <% } %>
        <% }) %>
      </div>

    <br/>

    <h2>Course Owners</h2>
      <div class="list-group">
          <% courseOwners.forEach( (owner, idx) => { %>
          <% if (idx % 2) {%>
              <div class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
              <span> <%= owner.email %> (<%= owner.name %>)</span>

              <form method="POST" style="margin-bottom: 0">
            <input type="hidden" name="__action" value="removeOwner" />
            <input type="hidden" name="email" value=<%= owner.email %> />
            <button type="submit" class="btn btn-lg btn-outline-danger">
              &times;
            </button>
          </form>
          </div>
          <% } else {%>
          <div class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center" style="filter: brightness(110%)">
              <span> <%= owner.email %> (<%= owner.name %>)</span>

              <form method="POST" style="margin-bottom: 0">
                  <input type="hidden" name="__action" value="removeOwner" />
                  <input type="hidden" name="email" value=<%= owner.email %> />
                  <button type="submit" class="btn btn-lg btn-outline-danger">
                      &times;
                  </button>
              </form>
          </div>
          <% } %>
          <% }); %>
      </div>

      <br/>

      <form method="POST">
          <div class="input-group mb-3">
          <input type="hidden" name="__action" value="addOwner" />
          <input
              name="email"
              id="emailEntry"
              class="form-control"
              style="max-width: 320px"
              placeholder="someone@illinois.edu"
              />
          <div class="input-group-append">
          <button
              role="button"
              class="btn btn-primary"
              type="submit">
              Add Owner
          </button>
           </div>
          </div>
      </form>
    </div>
  </body>
</html>
