<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <h1><%= courseDept %> <%= courseNumber %> (<%= courseName %>)</h1>
      <button
          role="button"
          class="btn btn-primary mb-3"
          data-toggle="collapse"
          data-target="#newCourseInstance"
          role="button"
          aria-expanded="false"
          aria-controls="newCourseInstance"
      >
          New Course Instance
      </button>
      <div class="collapse" id="newCourseInstance">
        <div class="card card-body mb-3">
          <form method="POST">
            <input type="hidden" name="__action" value="newCourseInstance" />
            <input type="hidden" name="courseName" value="<%= courseName %>" />
            <div class="form-group">
              <label for="courseInstanceName">Name</label>
              <input
                class="form-control"
                name="name"
                id="courseInstanceName"
                placeholder="CS 225 Sp19"
              />
            </div>
            <div class="form-group">
              <label for="courseInstanceTerm">Term</label>
              <input
                class="form-control"
                name="term"
                id="courseInstanceTerm"
                placeholder="Spring"
              />
            </div>
            <div class="form-group">
              <label for="courseInstanceYear">Year</label>
              <input
                class="form-control"
                name="year"
                id="courseInstanceYear"
                type="number"
                placeholder="2019"
              />
            </div>
            <button type="submit" class="btn btn-primary">Create course instance</button>
          </form>
        </div>
      </div>
      <div class="list-group">
        <% courseInstances.forEach(function(courseInst) { %>
        <a
          href="/courseInstance/<%= courseInst.id %>"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <%= courseInst.name %>
        </a>
        <% }) %>
      </div>

    <h2>Course Owners</h2>
      <div class="list-group">
          <% courseOwners.forEach( (owner) => { %>
          <div class="list-group-item d-flex justify-content-between align-items-center">
              <span> <%= owner.email %> (<%= owner.name %>)</span>

          <form method="POST">
            <input type="hidden" name="__action" value="removeOwner" />
            <input type="hidden" name="email" value=<%= owner.email %> />
            <button type="submit" class="btn btn-sm btn-outline-danger">
              <span aria-hidden="true">&times;</span>
            </button>
          </form>
          </div>  
          <% }); %>
      </div>

      <br/>

      <form method="POST">
          <input type="hidden" name="__action" value="addOwner" />
          <input
              name="email"
              id="emailEntry"
              placeholder="someone@illinois.edu"
              />
          <button
              role="button"
              class="btn btn-primary mb-3"
              type="submit"
              >
              <span>Add Owner</span>
          </button>
      </form>
      
    </div>
  </body>
</html>
