<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <h1><%= courseDept %> <%= courseNumber %> (<%= courseName %>)</h1>
      <button
          role="button"
          class="btn btn-primary mb-3"
          data-toggle="collapse"
          data-target="#newCourseInstance"
          role="button"
          aria-expanded="false"
          aria-controls="newCourseInstance"
      >
          New Course Instance
      </button>
      <div class="collapse" id="newCourseInstance">
        <div class="card card-body mb-3">
          <form method="POST">
            <input type="hidden" name="__action" value="newCourseInstance" />
            <input type="hidden" name="courseName" value="<%= courseName %>" />
            <div class="form-group">
              <label for="courseInstanceName">Name</label>
              <input
                class="form-control"
                name="name"
                id="courseInstanceName"
                placeholder="CS 225 Sp19"
              />
            </div>
            <div class="form-group">
              <label for="courseInstanceTerm">Term</label>
              <input
                class="form-control"
                name="term"
                id="courseInstanceTerm"
                placeholder="Spring"
              />
            </div>
            <div class="form-group">
              <label for="courseInstanceYear">Year</label>
              <input
                class="form-control"
                name="year"
                id="courseInstanceYear"
                type="number"
                placeholder="2019"
              />
            </div>
            <button type="submit" class="btn btn-primary">Create course instance</button>
          </form>
        </div>
      </div>
      <div class="list-group">
        <% let i = 0; course_instances.forEach(function(course_inst) { %>
        <a
          href="/courseInstance/<%= course_inst.id %>"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <%= course_inst.name %>
					[<%= test_perms[i] %>]
        </a>
        <% i++ }) %>
      </div>
    </div>
  </body>
</html>
