<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <h1><%= instName %></h1>
      <h2>Sections</h2>
      <button
        role="button"
        class="btn btn-primary mb-3"
        data-toggle="collapse"
        data-target="#newSection"
        role="button"
        aria-expanded="false"
        aria-controls="newSection"
      >
        New Section
      </button>
      <div class="collapse" id="newSection">
        <div class="card card-body mb-3">
          <form method="POST">
            <input type="hidden" name="__action" value="newSection">
            <input type="hidden" name="courseInstanceTerm" value="<%= instTerm %>">
            <input type="hidden" name="courseInstanceName" value="<%= instName %>">
            <input type="hidden" name="courseInstanceYear" value="<%= instYear %>">
            <div class="form-group">
              <label for="sectionName">Name</label>
              <input class="form-control" name="name" id="sectionName">
            </div>
            <div class="form-group">
              <label for="sectionCRN">CRN</label>
              <input class="form-control" name="CRN" id="sectionCRN">
            </div>
            <button type="submit" class="btn btn-primary">Create section</button>
          </form>
        </div>
      </div>
      <ul class="list-group mb-4">
        <% sections.forEach(function(section) { %>
        <a
          href="/section/<%= section.id %>"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <%= section.name %>
        </a>
        <% }) %>
      </ul>
      <h2>Meetings</h2>
      <button
        role="button"
        class="btn btn-primary mb-3"
        data-toggle="collapse"
        data-target="#newMeeting"
        role="button"
        aria-expanded="false"
        aria-controls="newMeeting"
      >
        New Meeting
      </button>
      <div class="collapse" id="newMeeting">
        <div class="card card-body mb-3">
          <form method="POST">
            <input type="hidden" name="__action" value="newMeeting">
            <input type="hidden" name="courseInstanceTerm" value="<%= instTerm %>">
            <input type="hidden" name="courseInstanceName" value="<%= instName %>">
            <input type="hidden" name="courseInstanceYear" value="<%= instYear %>">
            <div class="form-group">
              <label for="meetingName">Name</label>
              <input class="form-control" name="name" id="meetingName">
            </div>
            <button type="submit" class="btn btn-primary">Create meeting</button>
          </form>
        </div>
      </div>
      <ul class="list-group mb-4">
        <% meetings.forEach(function(meeting) { %>
        <a
          href="/meeting/<%= meeting.id %>"
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <%= meeting.name %>
        </a>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
